@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    font-family: "AudioWide";
    line-height: 25px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body, html {
    /*background-color: ;*/
    background-image: linear-gradient(to top left, pink, #58c8f4 60%);
    width: 100wh;
    height: 100vh;
}
header {
    padding: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.167);

}
section {
    margin: auto;
    width: 80vw;
    height: 450px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.449);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.314);
    font-size: 14px;
}
footer {
    color: white;
    margin: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.099); 
}