@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    font-family: "AudioWide";
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #87ceeb;
    width: 100wh;
    height: 100vh;

}

header {
    background-color: #4dbce7;
}

section {
    margin: 20px;
    width: 400px;
    height: 400px;
    background-color: white;
}

footer {
    background-color: #4dbce7;
    text-align: center;
}